# Data
numpy>=1.25.0
pandas>=2.0.3
matplotlib>=3.7.2
seaborn>=0.12.2
plotly>=5.16.0
altair<5

# ML / DL
scikit-learn>=1.2.2
tensorflow-cpu>=2.13.0
keras>=2.13.1
protobuf>=4.23.3

# Web / Streamlit
streamlit>=1.30.0
